:root {
    --content-text: #4D4D4D;
    --border-line: #E2E2E2;
    --h2-h3: #1A1A1A;
    --bgc-modal: rgba(0, 0, 0, 0.6);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.page__body {
    font-family: serif;
    font-size: 14px;
    color: var(--content-text);
}

